body {
    padding: 0;
    margin: 0;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

a {
    color: #00B7FF;
}

.wrapper {
    padding: 35px 40px 0;
    max-width: 1000px;
    margin: 0 auto;
    background: #F5F5F5;
    height: 95.6vh;
}
